.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: .5rem;    
    margin: 20px;
}

.formulario h1 {
    color: aliceblue;
}

.formulario input {
    padding: .5rem;
    width: 18rem;
    border-radius: .5rem;
    border: 2px solid var(--clr-main);
    margin: 15px;
}

.formulario input:focus {
    outline: 0;
    border: 2px solid black;
    outline: 2px solid var(--clr-main);
}

.formulario button {
    width: 10rem;
    height: 2.5rem;
    border-radius: 10px;
}

.formulario button:hover {
    background-color: rgb(165, 96, 7);
    color: white;
}

.item-count button, .agregar-al-carrito {
    background-color: var(--clr-main);
    border: 0;
    width: 2rem;
    height: 2rem;
    color: white;
    border-radius: .5rem;
    cursor: pointer;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 1;
    border: 2px solid var(--clr-main);
    transition: .2s;
}

.item-count button:hover, .agregar-al-carrito:hover {
    background-color: white;
    color: black;
}

.mensaje {
    width: 20rem;
    height: 3rem;
}

.main-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

